.search-pokemon-input{
    background-color: white;
    border: solid 1px white;
    border-radius: 1px;
    height: 25px;
}

.search-button{
    margin-left: 5px;
    height: 30px;
    width: 100px;
    background-color: beige;
    border: none;
    color: rgb(219 99 79);
    font-weight: bold;
    border-radius: 2px;
}

.search-button:hover {
    background-color: rgb(174, 77, 60);
    color: white
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px
}