.search-pokemon-input{
    background-color: white;
    border: solid 1px white;
    border-radius: 2px;
    height: 35px;
}

.search-button{
    margin-left: 5px;
    height: 40px;
    width: 100px;
    background-color: beige;
    border: none;
    color: rgb(219 99 79);
    font-weight: bold;
    border-radius: 2px;
}

.search-button:hover {
    background-color: rgb(174, 77, 60);
    color: white
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 45%
    /* position: relative;
    right: -600px;
} */
}

@media screen and (max-width: 1270px){
    /* .search{
        position: initial;
    } */
}

@media screen and (max-width: 855px){
    .search{
        position: initial;
        margin-left: 30px;
    }
}