.container-pokemon-created{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
}


.container-btn-create{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}


.btn-go-home, .btn-create-another{
    width: 150px;
    height: 40px;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
    font-size: 18px;
    background-color:rgba(219, 100, 79, 0.847);
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-go-home:hover, .btn-create-another:hover{
    background-color: rgb(174, 77, 60);   
}

.msg-not{
    color:rgb(139, 84, 84)
}
