.container-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    background-image: url('../../imag/wall\ pikachu.jpg');
    background-repeat: no-repeat;
    background-position: right;
    flex-wrap: wrap;
}

.card-container{
    position: relative;
    top: 50px;
}

.btn-go-home-detail{
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    background-color:rgba(219, 100, 79, 0.847);
    color:rgb(255, 255, 255);
}

.btn-go-home-detail:hover{
    background-color: rgb(174, 77, 60);
}

.container-detail-loading{
    background-image: url('../../imag/wall\ pikachu.jpg');
    background-repeat: no-repeat;
    background-position: right;
    height: 700px;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.p-detail-loading{
    color: #fff;
    font-size: 50px;
    position: relative;
    top: -50px;
    user-select: none; 
}

.p-msg-pokemonId{
    color: rgb(174, 77, 60);
    font-size:x-large;
    height: 10px;
    background-color: rgba(248, 232, 230, 0.758);
    padding: 30px;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

