.navbar{
    display: flex;
    align-items: center;
    /* justify-self: center; */
    /* background-color: #db634f; */
    background-image: linear-gradient(to right, #db634f, #de705d, #e17c6b, #e3897a, #e59588);
    height: 60px
}

a{
    text-decoration: none;
    color: white
}

.toHome, .toCreate {
    
    height: 30px;
    border-radius: 2px;
    font-size: 18px;
}


.toHome{
    height: 30px;
    width: 100px;
    position: relative;
    left: 40px;
    padding-top: 10px;
}
.toCreate{
    padding-top: 10px;
    height: 30px;
    width: 200px;
    position: relative;
    left: 50px
}

.toHome:hover, .toCreate:hover{
    background-color: rgb(174, 77, 60);
    border: solid 2px rgb(174, 77, 60)
}


.logoPoke{
    height: 60px;
    margin-left: auto;
    position: relative;
    right: 40px;
}

@media screen and (max-width: 1270px){
    .logoPoke{
        position: absolute;
        visibility: hidden;
    }
}

@media screen and (max-width: 555px){
    .navbar{
        height: 100px;
        display: flex;
        flex-wrap: wrap;
    }
    .toCreate{
        position: initial;
    }
    .toHome{
        position: initial;
        margin-left: 10px;
    }
   
    
}

@media screen and (max-width: 390px){
    .navbar{
        height: 150px;
    }
}