.navbar{
    display: flex;
    align-items: center;
    /* justify-self: center; */
    /* background-color: #db634f; */
    background-image: linear-gradient(to right, #db634f, #de705d, #e17c6b, #e3897a, #e59588);
    height: 60px;
   
}

a{
    text-decoration: none;
    color: white
}

.toHome, .toCreate, .toAbout {
    padding-top: 10px;
    height: 30px;
    border-radius: 4px;
    font-size: 18px;
    height: 30px;
    position: absolute;
}

.toAbout{
    width: 80px;
    left: 9%;
}

.toHome{
    width: 80px;
    left: 3%;
}

.toCreate{
    width: 190px;
    position: relative;
    left: 18%;
    background-color: #f8f5df;
    color:rgb(174, 77, 60)

}

.toHome:hover, .toCreate:hover, .toAbout:hover{
    background-color: rgb(174, 77, 60);
    border: solid 2px rgb(174, 77, 60);
    color: white
}


.logoPoke{
    height: 60px;
    margin-left: auto;
    position: relative;
    right: 40px;
}

@media screen and (max-width: 1270px){
    .logoPoke{
        position: absolute;
        visibility: hidden;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
    }
    .toCreate{
        position: initial;
    }
    .toHome{
        position: initial;
        margin-left: 10px;
    }

    .toAbout{
        position: initial;
        margin-left: 10px;
    }
   
}

@media screen and (max-width: 885px){
    .navbar{
        height: 100px;
        /* display: flex;
        flex-wrap: wrap; */
    }
    /* .toCreate{
        position: initial;
    }
    .toHome{
        position: initial;
        margin-left: 10px;
    }

    .toAbout{
        position: initial;
        margin-left: 10px;
    } */
   
    
}

@media screen and (max-width: 390px){
    .navbar{
        height: 150px;
    }
}