.pokemonCard {
    border: solid 3px rgb(47 107 180);
    width: 120px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    text-decoration:none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(249, 238, 190, 0.926);
    border-radius: 3px;
 
}
.pokemonCard:hover{
    transform: scale(1.05);
}
.type{
    border-radius: 1px;
    background-color: rgb(254 203 8);
    color:rgb(255, 255, 255);
    margin-bottom: 5px;
    margin-top: 2.5px;
    
    padding-bottom: 3px;
}

.inside{
    width: 120px;
}

.image{
    width: 100px;
    height: 100px;
}

.name{
    color: rgb(34, 81, 139);
    font-size: 20px;
    margin-bottom: 10px
}