
.text{
    color: rgb(255, 255, 255);
    font-size: 18px
}

.pagination-container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(219, 100, 79, 0.311);
    flex-wrap: wrap;
    width: 100%;
}

.pagination-button{
    width: 80px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    background-color:rgb(219 99 79);
    color:rgb(255, 255, 255);
    position: relative;
}

.pagination-reset{
    width: 80px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    background-color:rgba(219, 100, 79, 0.847);
    color:rgb(255, 255, 255);
    position: absolute;
    left: 0%;

    
}

.pagination-button:hover, .pagination-reset:hover{
    background-color: rgb(174, 77, 60);
    border: solid 4px rgb(174, 77, 60);
}


.filter-types{
    border: none;
    height: 30px;
    width: 150px;
    margin-right: 10px;
    border-radius: 3px;
    color: rgb(201, 125, 115);
    font-weight: 550;
    font-family: 'Montserrat',sans-serif;
    
    
}
.container-order{
    border: none;
    height: 30px;
    width: 150px;
   
    border-radius: 3px;
    color: rgb(201, 125, 115);
    font-weight: 550;
    font-family: 'Montserrat',sans-serif;
    position: absolute;
    left: 85%;
}

.filter-types:hover, .container-order:hover{
    background-color: rgba(219, 100, 79, 0.616);
    color:rgb(255, 255, 255)
}

.container-filter{
    position: absolute;
    left: 15%;
}

.container-btn-pagination{
    position: absolute;
    left: 45%;
}

@media screen and (max-width: 950px){
    .pagination-container{
       height: 100px;
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       justify-content: center ;

    }
   .pagination-reset{
    position: initial;
   }
   .container-filter{
    position: initial;
   }
   .container-btn-pagination{
    position: initial;
   }
   .pagination-button{
    position: initial;
   }
   .container-order{
    position: initial;
   }
}

@media screen and (max-width: 500px){
    .pagination-container{
        height: 150px;
     }
}

@media screen and (max-width: 320px){
    .pagination-container{
        height: 200px;
     }
}