.contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.allCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.loading{
    margin-top: 50px;
    height: 700px;
    user-select: none; 
}

.cards-loading{
    color: #fff;
    position: relative;
    top: -50px;
    font-size: 50px;
}


.msg-no-types{
    color: rgb(195, 69, 69);
    font-size: 20px;
}