.contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.allCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.loading{
    color: #ffffff;
    margin-top: 150px
}

.cards-loading{
    color: black;
    font-size: 30px;
    margin-top: 50px
}
