.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    flex-direction: column;
}

.allCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
}

.loading{
    color: #ffffff;
    font-size: 100px;
}
